<header>

  <div class="row navigation">
    <div class="twelve columns navbar">
      <a class="navbar-brand" href="/users">Users</a>
      <a class="navbar-brand" href="/posts">Posts</a>
      <h1 class="site-title"> Seentit </h1>
      </div>
  </div>
</header>
