<header>

  <div class="row navigation">
    <div class="twelve columns navbar">
      <a class="navbar-brand" href="/users">Users</a>
      <a class="navbar-brand" href="/posts">Posts</a>
    </div>
  </div>
</header>
